$colors: (
  primary: #8F4C38,
  primary-container: #A8996E,
  on-primary: #FFFFFF,
  secondary: #6C5D2F,
  on-secondary: #FFFFFF,
  surface: #F5F5F5,
  on-surface: #1A1A1A,
  error: #B3261E
);
@each $token, $value in $colors {
  .#{$token} {
    background-color: #{$value};
  }

  .#{$token}-text {
    color: #{$value};
  }
}

@function theme($name, $alpha: 1) {
  $base: map-get($colors, $name);
  @if $alpha == 1 {
    @return $base;
  } @else {
    @return rgba($base, $alpha);
  }
}
